# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CLASE\mollap-intercepting-filter-AliciaTugores\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
